
<div class="container-fluid footer-bg">    
    <div class="row">
      <div class="content-boxes col-sm-3">
        <div class="boxes">
            <img src="../../../assets/icons/Get Paid Instantly.png"><br>
            <h5 class="grid-header">Quick cash disbursement</h5>
            <p>Get terms loans that your business needs within 72 hrs</p>
        </div>
        <div class="boxes">
            <img src="../../../assets/icons/Low interest rate.png"><br>
            <h5 class="grid-header">Low-interest rate</h5>
            <p>Achieve your financial goals with an amazing interest rate starting at 13% per annum</p>
        </div>
        <div class="boxes">
            <img src="../../../assets/icons/Covid.png"><br>
            <h5 class="grid-header">Zero Paperwork</h5>
            <p>Get terms loans that your business needs within 72 hrs</p>
        </div>
      </div>
      <div class="content-boxes col-sm-3">
        <div class="boxes">
            <img src="../../../assets/icons/Covid.png"><br>
            <h5 class="grid-header">Ace your business finances</h5>
            <p>Manage banking, accounting & everything in between, on one platform</p>
        </div>
        <div class="boxes">
            <img src="../../../assets/icons/Covid.png"><br>
            <h5 class="grid-header">Loans to fight COVID-19</h5>
            <p>Zero EMI for first 3 months on Back-to-Business loans of upto 1 lakh</p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="boost_business">
            <h2>Boost your business<br> with Open</h2>
            <img src="../../../assets/icons/line.svg" />
            <p>Get your hands on a term loan that's <br> crafted your business</p>
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Get an opening account</button>
        </div>
      </div>
    </div>
</div>